<html>
  <head>
    <meta charset="UTF-8" />
    <title>404 - Not Found</title>
    <link rel="stylesheet" href="../public/main.css" />
  </head>
  <body>
    <main>
      <h1 class="heading">404 - Not Found</h1>
      <p>The info you are trying to get is not found.</p>
      <p>Please check your request and try again.</p>
    </main>
  </body>
</html>
