<html>
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" href="../public/main.css" />
  </head>
  <body>
    <main>
        <h1 class="heading">Register</h1>
        <form method="POST" action="/api/auth/register">
            <input type="text" name="username" />
            <input type="password" name="password" />
            <button type="submit">Register</button>
        </form>
    </main>
  </body>
</html>
